.chat_messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.chat_messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.chat_messageText img {
  vertical-align: middle;
}

.chat_messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.chat_sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.chat_pl-10 {
  padding-left: 10px;
}

.chat_pr-10 {
  padding-right: 10px;
}

.chat_justifyStart {
  justify-content: flex-start;
}

.chat_justifyEnd {
  justify-content: flex-end;
}

.chat_colorWhite {
  color: white;
}

.chat_colorDark {
  color: #353535;
}

.chat_backgroundBlue {
  background: #7e89fd;
}

.chat_backgroundLight {
  background: #f3f3f3;
}
