.chat_form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.chat_input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 90%;
  font-size: 1.2em;
}

.chat_sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
