.chat_infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7e89fd;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.chat_leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.chat_rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.chat_onlineIcon {
  margin-right: 5%;
}
